<div class="well issue-search-well">
    <span class="glyphicon glyphicon-search issue-search-icon"></span>
    <input type="text" class="issue-search-input" placeholder="Enter title or issue-key">
    <div class="btn-group issues-filter-btn" role="group" aria-label="...">
        <button type="button" class="btn btn-default">All</button>
        <button type="button" class="btn btn-default">Completed</button>
        <button type="button" class="btn btn-default">Uncompleted</button>
    </div>
</div>