<% layout('layout') -%>

<%- partial('partials/search-panel') %>
<div class="issue-container">
    <div class="issue">
        <table class="issue-info">
            <tr>
                <td>SERVICE-21354</td>
                <td><span class="status-label in-progress">in progress</span></td>
                <td>
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="username">Mykhailo Zheliaskov</span>
                </td>
            </tr>
        </table>
        <div class="issue-title">
            Poprawka w Pegaz w związku z brakującymi transakcjami ...
        </div>
        <time class="issue-deadline">20-09-2016</time>
        <div class="bookmark">
            <span class="glyphicon glyphicon-star"></span>
        </div>
    </div>
    <div class="issue">
        <table class="issue-info">
            <tr>
                <td>SERVICE-21354</td>
                <td><span class="status-label in-progress">in progress</span></td>
                <td>
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="username">Mykhailo Zheliaskov</span>
                </td>
            </tr>
        </table>
        <div class="issue-title">
            Poprawka w Pegaz w związku z brakującymi transakcjami ...
        </div>
        <time class="issue-deadline">20-09-2016</time>
        <div class="bookmark">
            <span class="glyphicon glyphicon-star"></span>
        </div>
    </div>
</div>