<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <link href="/bower_components/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/bower_components/bootstrap/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body class="login-page">
    <div class="login-form-container">
        <span>Sign In</span>
        <div class="login-layout">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="col-sm-3 control-label">Username:</label>
                    <div class="input-group col-sm-9">
                        <input type="email" class="form-control" id="username" placeholder="Username">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    </div>
                    <span class="col-sm-offset-3 help-block">A block of e.</span>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password:</label>
                    <div class="input-group col-sm-9">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    </div>
                    <span class="col-sm-offset-3 help-block">A block of e.</span>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                        <a class="registration-link" href="/register">Register</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-warning">Sign in</button>
                    </div>
                </div>
            </form>
            <div class="login-with">
                <div class="login-with-text">sign in with</div>
                <div class="login-with-left-line"></div>
                <div class="login-with-right-line"></div>
                <div class="login-social-buttons">
                    <a class="btn btn-social btn-facebook">
                        <span class="fa fa-facebook"></span> Sign in with Twitter
                    </a>
                    <a class="btn btn-social btn-google">
                        <span class="fa fa-google"></span> Sign in with Google
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>