<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BattleShip</title>
    <!-- stylesheet -->
    <link href="/bower_components/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/bower_components/bootstrap/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body class="body">
    <%- partial('partials/navbar-top') %>
    <main class="container">
        <%- body %>
    </main>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>