<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BattleShip</title>
    <% if (env === 'development') { %>
        <!-- stylesheet -->
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"/>
        <link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="/css/styles.min.css" rel="stylesheet"/>
        <!-- libs -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/libs/jquery-pagination/jquery-twbs-pagination.js"></script>
        <!-- custom -->
        <script src="/scripts/ui.js"></script>
        <script src="/scripts/projectService.js"></script>
    <% } else { %>
        <link href="/build/styles.min.css" rel="stylesheet"/>
        <script src="/build/app.min.js"></script>
    <% } %>
</head>
    <% if (authenticated) { %>
        <body class="body">
            <%- partial('partials/navbar-top') %>
            <main class="container">
                <%- body %>
            </main>
        </body>
    <% } else { %>
        <body class="auth-page">
            <%- body %>
        </body>
    <% } %>
</html>