<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/bootstrap/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body class="auth-page">
    <div class="auth-container login-container">
        <div class="auth-layout">
            <span class="auth-form-title">Sign In</span>
            <div class="auth-form-container">
                <form class="login-form" action="/login" method="post" novalidate>
                    <label for="username">Username:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Your username">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <label for="password">Password:</label>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Your password">
                        <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-warning">Sign In</button>
                </form>
                <div class="login-with clearfix">
                    <div class="login-with-text">or sign in with</div>
                    <div class="login-with-left-line"></div>
                    <div class="login-with-right-line"></div>
                    <div class="login-social-buttons">
                        <a class="btn btn-social btn-lg btn-facebook"><span class="facebook-icon">f</span> Twitter </a>
                        <a class="btn btn-social btn-lg btn-google"><span class="google-icon">G</span> Google </a>
                    </div>
                </div>
            </div>
            <a class="registration-link" href="/register">Create an account</a>
        </div>
        <% if (message) { %>
        <div class="auth-layout message-window" role="alert">
            <div class="dialog-close-btn">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </div>
            <div class="message-container">
                <%= message %>
            </div>
        </div>
        <% } %>
    </div>
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/js/ui.js"></script>
</body>
</html>