<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/bootstrap/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body class="auth-page">
    <div class="auth-form-container register-container">
        <span class="auth-form-title">Register</span>
        <div class="auth-layout">
            <form class="register-form">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="username">Username:</label>
                        <div class="form-group">
                            <input type="email" class="form-control" id="username" placeholder="min. 4 character">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="login-with clearfix">
                            <div class="login-with-text">or sign in with</div>
                            <div class="login-with-left-line"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="username">Email:</label>
                        <div class="form-group">
                            <input type="email" class="form-control" id="username" placeholder="email">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="login-social-buttons">
                            <a class="btn btn-social btn-lg btn-facebook"><span class="facebook-icon">f</span> Twitter </a>
                            <a class="btn btn-social btn-lg btn-google"><span class="google-icon">G</span> Google </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="firstName">First Name:</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="firstName" placeholder="First name">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="secondName">Second Name:</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="secondName" placeholder="Second name">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="password">Password:</label>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="min. 8 character">
                            <span class="glyphicon glyphicon-lock"></span>
                            <span class="help-block">A block o line.</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="passwordAgain">Password [Again]:</label>
                        <div class="form-group">
                            <input type="password" class="form-control" id="passwordAgain" placeholder="min. 8 character">
                            <span class="glyphicon glyphicon-lock"></span>
                            <span class="help-block">A block o line.</span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning">Sign Up</button>
            </form>
        </div>
    </div>

    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
</body>
</html>